[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-migrate = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-mail = "*"
flask-script = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.8"
