body{
    background: linear-gradient(rgb(11, 10, 73, 0.9), rgba(11, 10, 73, 0.9)), url(https://cdn.pixabay.com/photo/2014/12/21/07/49/fireworks-574739_960_720.jpg);
    background-size: cover;
    color: rgb(233, 224, 218);
}
.navbar{
    background-color: rgb(19,21,79);
}

.blog{
    width: 100%;
    background-color: #061d3f;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
}
.blog a{
    color: white;
    text-decoration: none;
}
.blog a:hover{
    color: #da2240;
}
.quote{
    color: #061d3f;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;

}
.quote-q{
    font-size: 48px;
    margin: 6px 10px 0 0;
}